In [10]:
import requests
import pandas as pd

In [11]:
try:
    # URL của API JSON
    #url = 'https://656de793bcc5618d3c243220.mockapi.io/NhanVien'  # Thay đổi URL thành URL thực tế của API JSON
    urlProject='http://localhost:8080/api/projects'
    #urlStaff='http://localhost:8080/api/staff'
    # Gửi yêu cầu GET đến API và lấy dữ liệu JSON
    response = requests.get(urlProject)
    #response2 = requests.get(urlStaff)
    # Kiểm tra mã trạng thái của phản hồi
    response.raise_for_status()
    # Biến dữ liệu JSON thành DataFrame
    dataProject = response.json()
    #dataStaff = response2.json()
    
    dfProject = pd.DataFrame(dataProject)
    #dfStaff = pd.DataFrame(dataStaff)
    # Hiển thị DataFrame
    #print(df)
except requests.exceptions.RequestException as e:
    print("Có lỗi khi gửi yêu cầu đến API:", e)
except ValueError as e:
    print("Có lỗi khi xử lý dữ liệu JSON:", e)
except Exception as e:
    print("Có lỗi không xác định:", e)

In [12]:
dfProject

   project_id      name  budget   startDate
0           1  Landmark    50.0  2024-10-23
1           2  Landmark    50.0  2024-10-23
2           3  Landmark    50.0  2024-10-23
3           4   Kistaro    50.0  2024-10-23
4           5  Landmark    50.0  2024-10-23
5           6   Kistaro    50.0  2024-10-23
6           7  Landmark    50.0  2024-10-23
7           8   Kistaro    50.0  2024-10-23

In [13]:
try:
    # URL của API JSON
    #url = 'https://656de793bcc5618d3c243220.mockapi.io/NhanVien'  # Thay đổi URL thành URL thực tế của API JSON
    urlStaff='http://localhost:8080/api/staffs'
    #urlStaff='http://localhost:8080/api/staff'
    # Gửi yêu cầu GET đến API và lấy dữ liệu JSON
    response = requests.get(urlStaff)
    #response2 = requests.get(urlStaff)
    # Kiểm tra mã trạng thái của phản hồi
    response.raise_for_status()
    # Biến dữ liệu JSON thành DataFrame
    #dataProject = response.json()
    dataStaff = response.json()

    dfStaff = pd.DataFrame(dataStaff)
    #dfStaff = pd.DataFrame(dataStaff)
    # Hiển thị DataFrame
    #print(df)
except requests.exceptions.RequestException as e:
    print("Có lỗi khi gửi yêu cầu đến API:", e)
except ValueError as e:
    print("Có lỗi khi xử lý dữ liệu JSON:", e)
except Exception as e:
    print("Có lỗi không xác định:", e)

In [14]:
dfStaff

    staff_id nameStaff  age  gender
0          1       Man   30    True
1          2       Ben   30    True
2          3      Mary   30   False
3          4       Man   30    True
4          5       Ben   30    True
5          6      Mary   30   False
6          7   Ben Bis   30    True
7          8      Mark   30   False
8          9   Man Man   30    True
9         10       Ben   30    True
10        11      Mary   30   False
11        12   Ben Bis   30    True
12        13      Mark   30   False
13        14   Man Man   30    True
14        15       Ben   30    True
15        16      Mary   30   False
16        17   Ben Bis   30    True
17        18      Mark   30   False
18        19   Man Man   30    True
19        20       Ben   30    True
20        21      Mary   30   False

In [15]:
dfStaff.shape

(21, 4)

In [16]:
dfProject.shape

(8, 4)

In [17]:
url = "http://localhost:8080/api/projects"

# Gửi yêu cầu GET
response = requests.get(url)

# Kiểm tra mã trạng thái của phản hồi
if response.status_code == 200:
    # Lấy dữ liệu từ phản hồi
    data = response.json()
    # Xử lý và hiển thị dữ liệu
    for project in data:
        print("Project ID:", project["project_id"])
        print("Project Name:", project["name"])
        print("Project Budget:", project["budget"])
        print("Project StartDate:", project["startDate"])
        print("--------------")
else:
    print("Yêu cầu không thành công. Mã trạng thái:", response.status_code)

Project ID: 1
Project Name: Landmark
Project Budget: 50.0
Project StartDate: 2024-10-23
--------------
Project ID: 2
Project Name: Landmark
Project Budget: 50.0
Project StartDate: 2024-10-23
--------------
Project ID: 3
Project Name: Landmark
Project Budget: 50.0
Project StartDate: 2024-10-23
--------------
Project ID: 4
Project Name: Kistaro
Project Budget: 50.0
Project StartDate: 2024-10-23
--------------
Project ID: 5
Project Name: Landmark
Project Budget: 50.0
Project StartDate: 2024-10-23
--------------
Project ID: 6
Project Name: Kistaro
Project Budget: 50.0
Project StartDate: 2024-10-23
--------------
Project ID: 7
Project Name: Landmark
Project Budget: 50.0
Project StartDate: 2024-10-23
--------------
Project ID: 8
Project Name: Kistaro
Project Budget: 50.0
Project StartDate: 2024-10-23
--------------