In [1]:
#nạp dữ liệu
#đọc file boston.csv đã gửi vào data frame python
#Xây dựng mô hình dự báo medv theo age và Istat. 
#Biết rằng cần chuẩn hóa dữ liệu fit_transform cho dữ liệu input. 
#dữ liệu sẽ được cắt theo tỉ lệ train:test là 90:10 với random state là 10
#Hãy cho biết dòng dữ liệu đầu tiên của tập dữ liệu đầu vào trên tập dữ liệu train
import pandas as pd
# Đường dẫn đến tệp CSV
file_path = 'boston.csv'
# Đọc tệp CSV vào DataFrame
df = pd.read_csv(file_path)
# Hiển thị một số dòng đầu của DataFrame
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [2]:
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [3]:
df.tail(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [4]:
#Hãy cho biết dòng dữ liệu đầu tiên của tập dữ liệu đầu vào trên tập dữ liệu train
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
# Read the CSV file into a DataFrame
#df = pd.read_csv('D:\\duLieuKhac\\boston.csv')
# Select the input features (age and Istat) and the target variable (medv)
X = df[['AGE', 'LSTAT']]
y = df['MEDV']
# Perform feature scaling on the input data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.1, random_state=10)
# Fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)
# Get the first row of the input data in the training set
first_row = X_train[0]
# Print the first row of the input data
print(first_row)

[0.9752522  0.94153844]

In [5]:
y_train

396    12.5
230    24.3
98     43.8
504    22.0
260    33.8
       ...
320    23.8
15     19.9
484    20.6
125    21.4
265    22.8
Name: MEDV, Length: 455, dtype: float64

In [6]:
#hệ số góc biến độc lập age
# Get the coefficients of the linear regression model
coefficients = model.coef_
# Get the coefficient for the "age" variable
age_coefficient = coefficients[0]
# Print the coefficient for the "age" variable
print(age_coefficient)

0.8474682427353063

In [7]:
#kích thước tập dữ liệu huấn luyện
X_train.shape

(455, 2)

In [8]:
#Hãy cho biết dựa vào tập huấn luyện thì các 
#biến độc lập giải thích được bao nhiêu phần trăm sự thay đổi của biến phụ thuộc
# Calculate the R-square score on the training set
r2_score = model.score(X_train, y_train)
# Print the R-square score
print(r2_score)

0.5480883767100382

In [9]:
#Hãy cho biết giá trị MAPE của mô hình trên tập dữ liệu kiểm thử
from sklearn.metrics import mean_absolute_percentage_error
# Make predictions on the test set
y_pred = model.predict(X_test)
# Calculate the MAPE score
mape = mean_absolute_percentage_error(y_test, y_pred)
# Print the MAPE score
print(mape)

0.2012807931898763

In [10]:
y_train

396    12.5
230    24.3
98     43.8
504    22.0
260    33.8
       ...
320    23.8
15     19.9
484    20.6
125    21.4
265    22.8
Name: MEDV, Length: 455, dtype: float64

In [11]:
#Hãy cho biết dòng dữ liệu đầu tiên của tập dữ liệu đầu ra trên tập dữ liệu train
# Get the first row of the output data in the training set
first_row_output = y_train.iloc[0]
# Print the first row of the output data
print(first_row_output)

12.5

In [12]:
#Hãy cho biết dòng kết quả dự báo đầu tiên cho giá trị medv trong tập dữ liệu test
# Make predictions on the test set
y_pred = model.predict(X_test)
# Get the first predicted value
first_prediction = y_pred[0]
# Print the first predicted value
print(first_prediction)

25.773008545505547

In [13]:
#Hãy cho biết dòng đầu tiên sau khi tiến hành chuẩn hóa dữ liệu (standardization) và 
#scaling dữ liệu về đoạn [0, 1] (transform) trên tập dữ liệu input đầu vào
from sklearn.preprocessing import StandardScaler
# Create a StandardScaler object
scaler = StandardScaler()
# Fit and transform the input data
X_scaled = scaler.fit_transform(X)
# Get the first row of the scaled input data
first_row_scaled = X_scaled[0]
# Print the first row of the scaled input data
print(first_row_scaled)

[-0.12001342 -1.0755623 ]

In [14]:
#Hãy dữ bảo giá trị medv khi biết giá trị của age và Istat lần lượt là 37 5 và 4.65
# Create a new input data with the given values
new_data = [[37, 4.65]]
# Scale the new input data using the same scaler object
new_data_scaled = scaler.transform(new_data)
# Make the prediction using the trained model
prediction = model.predict(new_data_scaled)
# Print the predicted value
print(prediction[0])

29.439730401681974

c:\Users\LENOVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [15]:
#Hãy cho biết hệ số tự do trong mô hình huấn luyện
# Get the intercept of the linear regression model
intercept = model.intercept_
# Print the intercept
print(intercept)

22.34596160488682