In [25]:
#pip install mysql-connector-python

In [1]:
import mysql.connector
import pandas as pd

In [2]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123",
    database="qlsv"
)

In [3]:
cursor = db.cursor()

In [4]:
# Thực thi truy vấn SQL
cursor.execute("SELECT * FROM SinhVien")

# Lấy kết quả truy vấn và chuyển nó thành DataFrame
result = cursor.fetchall()
columns = [column[0] for column in cursor.description]
df = pd.DataFrame(result, columns=columns)

In [5]:
df

  maSV       diaChi  diem tenSV
0  sv1        Lê An  10.0   Nam
1  sv2   Lê An Minh  10.0   Ban
2  sv3  Lê Anh Nuôi  10.0  Minh
3  sv4        Lê An  10.0  Ngọc
4  sv5            V   0.0     B
5  sv6   Minh Giang   4.0  Minh
6  sv7        Lê An  10.0  Ngọc

In [36]:
df.to_csv('student.csv', index=False)

In [6]:
#thêm sinh vieên
new_SinhVien = {
    "maSV": "sv11",
    "tenSV": "Ngoc Anh",
    "diaChi":"123",
    "diem": 7,
}

In [7]:
sql = "INSERT INTO SinhVien (maSV,tenSV,diaChi,diem) VALUES (%s, %s, %s, %s)"
values = (new_SinhVien["maSV"], new_SinhVien["tenSV"], new_SinhVien["diaChi"], new_SinhVien["diem"])

In [8]:
try:
    cursor.execute(sql, values)
    print("Thêm thành công")
    db.commit()
    db.close()
except Exception as e:
    print("Lỗi kết nối:", e)

Thêm thành công

In [10]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123",
    database="qlsv"
)

In [11]:
cursor = db.cursor()
cursor.execute("SELECT * FROM SinhVien")
# Lấy kết quả truy vấn và chuyển nó thành DataFrame
result = cursor.fetchall()
columns = [column[0] for column in cursor.description]
df1 = pd.DataFrame(result, columns=columns)
df1

   maSV       diaChi  diem     tenSV
0   sv1        Lê An  10.0       Nam
1  sv11          123   7.0  Ngoc Anh
2   sv2   Lê An Minh  10.0       Ban
3   sv3  Lê Anh Nuôi  10.0      Minh
4   sv4        Lê An  10.0      Ngọc
5   sv5            V   0.0         B
6   sv6   Minh Giang   4.0      Minh
7   sv7        Lê An  10.0      Ngọc

In [35]:
#async and sync