In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('dulieuxettuyendaihoc.csv',encoding='utf-8')
df

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,TOANLOGICPHANTICH,GIAIQUYETVANDE,KT,NGAYTHI,DINHHUONGNGHENGHIEP
0,SV001,7.2,8.4,7.4,7.2,7.4,6.9,F,NaN,2NT,3.25,3.25,4.50,A1,12/7/2018,No
1,SV002,5.4,6.3,4.3,4.9,3.0,4.0,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,SV003,5.6,5.0,2.8,6.1,4.8,5.7,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
3,SV004,6.6,5.1,5.9,4.1,6.1,7.4,M,NaN,1,4.25,4.25,5.25,D1,12/7/2018,No
4,SV005,6.0,5.4,7.6,4.4,6.8,8.0,M,NaN,2NT,4.25,4.50,5.00,A,12/7/2018,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SV0096,8.6,8.9,7.7,6.7,7.9,6.6,F,NaN,1,5.25,1.50,6.25,C,7/20/2022,Yes
96,SV0097,3.7,4.1,3.1,3.4,5.5,5.7,F,NaN,1,5.25,3.75,4.75,C,7/20/2022,No
97,SV0098,8.8,9.5,9.5,8.5,9.0,8.5,M,NaN,2NT,7.00,8.00,4.00,C,7/20/2022,Yes
98,SV0099,2.7,2.8,6.2,5.2,4.1,4.3,M,NaN,1,5.00,3.50,5.50,C,7/20/2022,No
99,SV00100,4.1,4.4,6.0,4.3,5.6,5.1,M,NaN,2NT,5.25,2.50,4.25,C,7/20/2022,Yes

In [3]:
# Lấy tên của 2 cột số bất kỳ từ DataFrame gốc
cut_columns = ['T2', 'T3','KT']  # Ví dụ, T2, T3
# Cắt hai cột này từ DataFrame gốc và lưu vào DataFrame mới
df2 = df[cut_columns].copy()
df2

     T2   T3  KT
0   8.4  7.4  A1
1   6.3  4.3   C
2   5.0  2.8   C
3   5.1  5.9  D1
4   5.4  7.6   A
..  ...  ...  ..
95  8.9  7.7   C
96  4.1  3.1   C
97  9.5  9.5   C
98  2.8  6.2   C
99  4.4  6.0   C

[100 rows x 3 columns]

In [4]:
# Phân chia dữ liệu thành features (X) và target (y)
X = df2.drop(columns=['KT'])  # features
y = df2['KT']  # target

In [5]:
# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Khởi tạo mô hình phân loại Decision Tree
clf = DecisionTreeClassifier()

# Huấn luyện mô hình trên tập huấn luyện
clf.fit(X_train, y_train)

# Dự đoán nhãn cho tập kiểm tra
y_pred = clf.predict(X_test)

In [6]:
# Đánh giá độ chính xác của mô hình
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# In ra báo cáo phân loại
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.4
Classification Report:
              precision    recall  f1-score   support

           A       0.55      0.50      0.52        12
          A1       0.00      0.00      0.00         2
           B       0.00      0.00      0.00         2
           C       0.00      0.00      0.00         1
          D1       0.33      0.67      0.44         3

    accuracy                           0.40        20
   macro avg       0.18      0.23      0.19        20
weighted avg       0.38      0.40      0.38        20

C:\Users\LENOVO\.conda\envs\loadCSV\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\LENOVO\.conda\envs\loadCSV\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\LENOVO\.conda\envs\loadCSV\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))